@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
/*-----------navbar styles start ------------*/
.menu-icon {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 30px;
	z-index: 2;
}
.HomeNavbarMain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.HomeNavbarMain__logo a {
	font-size: 30px;
	text-decoration: none;
	color: #4cd137;
	font-weight: 700;
}
.HomeNavbarMainCenter {
	flex: 0.6;
	display: flex;
}
.HomeNavbarMainCenter,
.HomeNavbarMainRight {
	padding-top: 20px;
}
.HomeNavbarMainCenter ul.main-nav-c li {
	list-style: none;
	padding-right: 20px;
	display: flex;
	position: relative;
}
.main-nav-c {
	display: flex;
}
.HomeNavbarMainCenter ul li a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	display: flex;
}
.HomeNavbarMainCenter ul.navListItemdrop {
	margin-top: 20px;
	list-style-type: none;
	display: block;
	background-color: #f5f6fa;
	padding: 6px 16px;
	position: absolute;
	width: 12rem;
	z-index: 9999;
	left: 50%;
	transform: translateX(-40%);
	opacity: 0;
	pointer-events: none;
}
.HomeNavbarMainCenter ul.navListItemdrop li {
	padding: 5px 0;
	margin-left: 0;
}
.HomeNavbarMainCenter ul.main-nav-c li:hover .navListItemdrop {
	opacity: 1;
	pointer-events: auto;
	animation: moveUp 0.5s ease-in-out forwards;
}
/*
.navListItem::after {
	content: "";
	width: 0;
	height: 0.3rem;
	border-radius: 0.2rem;
	position: absolute;
	left: 1rem;
	bottom: 0.8rem;
	transition: width 200ms ease-in;
}
.navListItem :hover::after,
.navListItem:focus::after {
	width: 100%;
}
.navListItem:hover ul,
.navListItem:focus ul {
	opacity: 1;
	visibility: visible;
}
.navListItemdrop {
	position: absolute;
	top: 2rem;
	left: -1rem;
	background-color: #f5f6fa;
	border-radius: 0.2rem;
	width: 12rem;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms ease-in-out;
} 
.navListItemdrop li:hover,
.navListItemdrop li:focus {
	background-color: #fce4ec;
}
-*/
.HomeNavbarMainRight ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.HomeNavbarMainRight ul li {
	list-style: none;
	padding-right: 20px;
	position: relative;
}
.HomeNavbarMainRight ul li a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
}
.HomeNavbarMainRight ul li:last-child {
	background: #4cd137;
	padding: 10px 10px;
	border-radius: 5px;
}
.contact- {
	color: white !important;
	padding: 30px 10px !important;
}

/*-----------navbar styles end ------------*/
/*------------home intro start------------*/
.homeIntroM {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.homeIntro__left h2 {
	color: #4cd137;
	font-weight: 900;
	font-size: 40px;
	padding-bottom: 30px;
}
.homeIntro__left p {
	font-weight: 400;
	padding-bottom: 30px;
	line-height: 30px;
}
.homeIntro__left button {
	width: 200px;
	background-color: #4cd137;
	color: white;
	outline-width: 0;
	border: none;
	border-radius: 5px;
	padding: 15px 10px;
}
/*------------home intro ends------------*/
/*------------how it works starts------------*/
.how-it-works {
	padding: 40px 0;
	background: #ece9e6;
	background: -webkit-linear-gradient(to top, #ece9e6, #ffffff);
	background: linear-gradient(to top, #ece9e6, #ffffff);
}
.how-it-works-details h6 {
	color: #4cd137;
	font-weight: 900;
	font-size: 40px;
	padding-bottom: 30px;
}
.step-item {
	padding: 20px 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
	max-width: 320px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.step-details small,
.step-icon h6 {
	color: #4cd137;
	font-weight: 900;
	padding: 5px 0;
}
.step-icon i {
	font-weight: 900;
}
.step-details p {
	line-height: 30px;
}
/*------------how it works ends------------*/
/*------------our partner starts------------*/
.ourPartners {
	background: #ece9e6;
}
.splide__slide img {
	height: 70px;
	width: 100%;
	object-fit: contain;
}
/*------------our partner ends------------*/
/*------------Free tial start------------*/
.freeTrial {
	padding: 20px 0;
}

.FreeM {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.freeTrial__left h3 {
	color: #4cd137;
	font-weight: 900;
	font-size: 35px;
}
.freeTrial__left h3::first-letter {
	font-size: 50px;
}
.freeTrial__left h6 {
	margin: 0;
	font-size: 25px;
	font-weight: 400;
	padding-bottom: 20px;
}
.freeTrial__left p {
	line-height: 30px;
	font-weight: 400;
	padding-bottom: 20px;
}
.freeTrial__left button {
	width: 200px;
	background-color: #4cd137;
	color: white;
	outline-width: 0;
	border: none;
	border-radius: 5px;
	padding: 15px 10px;
}
.freeTrial__left button a {
	text-decoration: none;
	color: white;
}
.freeTrial__right p {
	color: #4cd137;
	font-weight: 700;
}
.trialForm-group {
	display: flex;
	flex-direction: column;
}
.trialForm-group input {
	outline-width: 0;
	height: 40px;
}
.trialForm-group label {
	padding: 5px 0;
	font-weight: 700;
}
.trialForm-group button {
	margin-top: 20px;
	width: 200px;
	background-color: #4cd137;
	color: white;
	outline-width: 0;
	border: none;
	border-radius: 5px;
	padding: 15px 10px;
}
.modal-title {
	color: #000;
	font-weight: 600;
}
.close-btn1 {
	background-color: transparent !important;
	color: red !important;
	border: 1px solid red !important;
}
/*------------Free tial ends------------*/
/*-----------services starts ------------*/
.servicesHome {
	padding: 30px 0;
	background: #ece9e6;
	background: -webkit-linear-gradient(to left, #ece9e6, #ffffff);
	background: linear-gradient(to left, #ece9e6, #ffffff);
}
.services__intro {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.services__intro h6 {
	width: 70%;
	margin: 0;
	font-weight: 400;
}
.services__intro h3 {
	font-weight: 700;
	margin: 0;
	font-size: 15px;
}
.services__intro p {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #4cd137;
	font-weight: 900;
	font-size: 40px;
}
.serviceM {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.subserviceIcon {
	margin: 20px 0;
	display: flex;
	align-items: center;
}
.subserviceIcon p {
	text-align: center;
	margin: 0;
	padding-left: 20px;
}
.service-title h6 {
	font-weight: 700;
	font-size: 30px;
}
.service-title p {
	line-height: 30px;
}
.subserviceIcon i {
	color: #4cd137;
}
/*-----------services ends ------------*/
/*-----------contact us starts ------------*/
.contactus {
	padding: 30px 0;
}
.contactus__left p {
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	color: #4cd137;
}
.contactus__left h6 {
	line-height: 35px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.contactus__left small {
	font-weight: 700;
}
.addresses {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}
.addMail,
.addphone,
.addLocation {
	padding: 20px 0;
	font-weight: 500;
}
.addMail i,
.addphone i {
	padding-right: 20px;
}
.form-group {
	display: flex;
	flex-direction: column;
}
.form-group input {
	height: 40px;
	outline-width: 0;
}
.form-group label {
	font-weight: 700;
}
.form-group textarea {
	height: 100px;
	outline-width: 0;
}
.submit-btn button {
	width: 200px;
	outline-width: 0;
	background-color: #4cd137;
	border: none;
	color: white;
	border-radius: 5px;
	height: 40px;
}
.subscribe {
	background: #ece9e6;
	background: -webkit-linear-gradient(to left, #ece9e6, #ffffff);
	background: linear-gradient(to left, #ece9e6, #ffffff);
}
/*-----------contact us starts end ------------*/
/*-----------subscribe styles start ------------*/
.main-subC {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.subscribe__content h6 {
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
}
.subscribe__content small {
	font-weight: 400;
	padding-top: 10px;
	line-height: 30px;
}
.subscribe__content p {
	padding: 20px 0;
	font-size: 20px;
	line-height: 30px;
}
.subscribe__newsLetter {
	display: flex;
}
.subscribe__newsLetter input {
	width: 100%;
	outline-width: 0;
	height: 40px;
	border-radius: 5px;
	border: 1px solid black;
}
.subscribe__newsLetter input::placeholder {
	padding: 10px 10px;
}
.subscribe__newsLetter button {
	width: 200px;
	margin-left: 10px;
	outline-width: 0;
	background-color: #4cd137;
	border: none;
	color: white;
	border-radius: 5px;
}
/*-----------subscribe styles ends ------------*/
/*-----------Footer styles start ------------*/
.my__footer {
	background-color: #161616;
	padding: 20px;
}
.footer-item-title p {
	color: #4cd137;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	padding-bottom: 5px;
	padding-top: 20px;
}
.footer-item > h6 {
	font-family: "Roboto", sans-serif;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
}
.footer-item li {
	list-style: none;
	padding: 5px 0;
}
.footer-item li a {
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	text-decoration: none;
	line-height: 30px;
}
.social-media-icons a {
	text-decoration: none;
	padding: 10px;
	border-radius: 50%;
	background-color: white;
	color: black;
}
/*-----------Footer styles ends ------------*/
/*-----------responsiveness starts ------------*/
/*----------mobile menu ---------*/
@media (min-width: 100px) and (max-width: 960px) {
	.menu-icon {
		display: block;
	}
	.HomeNavbarMainCenter {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: grey;
		width: 50%;
		height: 100%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 30px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
	}
	.HomeNavbarMainRight {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: grey;
		width: 50%;
		height: 100%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 30px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
	}
	.HomeNavbarMainCenter ul li .show {
		transform: translateX(-20px);
	}
}
/*-----------responsiveness ends ------------*/
/*-------------Pages ------------------------*/
/*---------- Crops Growing Predictor starts-----------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.crops-grown {
	background-color: #eceff1;
	font-family: "Roboto", sans-serif;
}
/*---------crops- grown navbar starts --*/
.crops-grown-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.crops-grown-items ul {
	display: flex;
	padding: 10px 0;
}
.crops-grown-items ul li {
	list-style: none;
	align-items: center;
	display: flex;
	padding-right: 20px;
}
.crops-grown-items ul li a {
	text-decoration: none;
	color: black;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}
.free-trial-crops {
	border: 1px solid #4cd137;
	border-radius: 2px;
}
.free-trial-crops a {
	padding: 5px 13px;
	color: #4cd137 !important;
}
.crops-grown-main-logo a {
	font-size: 30px;
	color: #4cd137;
	font-weight: 900;
	padding: 10px 0;
	text-decoration: none;
}

/*---------crops- grown navbar ends--*/
/*---------crops- grown form starts--*/
.main-crop {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.crops-grown-from-left h1 {
	color: #4cd137;
	font-size: 35px;
	font-weight: 900;
}
.crops-grown-from-left button {
	width: 240px;
	height: 45px;
	outline-width: 0;
	background-color: #4cd137;
	border-radius: 20px;
	border: 0;
}
.crops-grown-from-left button a {
	color: #ffffff;
}
.crops-grown-from-right p {
	color: #4cd137;
	font-weight: 500;
}
.crops-grownForm-group {
	display: flex;
	flex-direction: column;
}
.crops-grownForm-group label {
	font-weight: 600;
	padding: 5px 0;
}
.crops-grownForm-group input {
	outline-width: 0;
	height: 40px;
}
.crops-grownForm-group button {
	margin: 20px 0;
	width: 240px;
	height: 45px;
	outline-width: 0;
	background-color: #4cd137;
	border-radius: 20px;
	border: 0;
	color: white;
}
/*---------crops- grown form ends--*/
/*---------crops- grown footer starts--*/
.crops-grown-footer {
	padding: 40px 0;
	height: auto;
	background-color: #161616;
}
.crops-grown-footer-title p {
	color: #4cd137;
}
.crops-grown-footer-item h6 {
	color: #ffffff;
	line-height: 35px;
}
.crops-grown-footer-item ul li {
	list-style: none;
	padding: 10px 0;
}
.crops-grown-footer-item ul li a {
	color: white;
	text-decoration: none;
}
.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
}
.copyright p {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}
/*---------crops- grown footer ends--*/
/*---------- Crops Growing Predictor ends-----------*/
/*---------- How it works page starts-----------*/
.work-flow-intro {
	display: flex;
	text-align: center;
	flex-direction: column;
}
.work-flow-intro small {
	font-weight: 400;
	color: #4cd137;
	font-size: 18px;
}
.work-flow-intro p {
	padding: 10px 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
}
.how-it-works-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.how-it-works-1 img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}
.how-it-works-1 p {
	text-align: center;
	justify-content: center;
	align-items: center;
}
.main-work-flow-intro {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: center;
}
.main-work-flow-intro small {
	font-weight: 400;
	color: #4cd137;
	font-size: 18px;
}
.main-work-flow-intro h6 {
	text-align: center;
	width: 50%;
}
.main-work-flow-intro p {
	padding: 5px 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 0;
}
.main-work-flow-intro h6 {
	line-height: 30px;
	font-weight: 400;
}
.work-flow-2 h6 {
	font-weight: 700;
	font-size: 22px;
	padding: 2px 0;
	line-height: 30px;
}
.work-flow-2 img {
	height: 300px;
	object-fit: contain;
}
.work-flow-1 img {
	height: 300px;
	object-fit: contain;
}
.work-flow-1 h6 {
	font-weight: 700;
	font-size: 22px;
	padding: 2px 0;
	line-height: 30px;
}
.work-flow-1::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #1f5297;
}
.work-flow-1 {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}
.meet-team-intro h1 {
	text-align: center;
	font-weight: 700;
}
.member-1 img {
	height: 100px;
	width: 100%;
	object-fit: contain;
}
.member-details span {
	font-weight: 700;
}
.member-details {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
/*---------- How it works page ends-----------*/
/*---------- animations-----------*/
@keyframes slide-in {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}
@keyframes slide-out {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translateX(0%);
	}
}
.homeIntro__rightIm {
	animation: slide-in 5000ms;
	animation-timing-function: ease;
}
.homeIntroM {
	transition: transform 500ms;
}
.homeIntroM:hover {
	transform: translateY(-30px);
}
.work-flow-2 {
	animation: slide-out 6000ms;
	animation-timing-function: ease;
}
.mainServ-1 {
	animation: slide-out 6000ms;
	animation-timing-function: ease;
}
.main-step {
	transition: transform 500ms;
}
.main-step:hover {
	transform: translateY(-30px);
}
.serviceM {
	transition: transform 500ms;
	transform: translateX(30px);
}
.main-subC {
	animation: slide-in 5000ms;
	animation-timing-function: ease;
}
.main-sub {
	transition: transform 500ms;
}
.main-sub:hover {
	transform: translateY(-30px);
}
.how-it-works-2 {
	transition: transform 500ms;
}
.how-it-works-2:hover {
	transform: translateY(-30px);
}
.work-flow-2 {
	transition: transform 500ms;
}
.work-flow-2:hover {
	transform: translateX(30px);
}
